.wrapper {
  width: 250px;
  padding: 10px;
  border: 1px solid black;
  height: 100%;
}

.move {
  color: blue;
}
.warning {
  color: red;
}

.list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

  li {
    width: 50%;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
