.cell {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 20%;
  height: 20%;
  color: grey;
  &:before {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
  }
  &::after {
    position: absolute;
    content: "";
  }
  & span {
    margin: 5px;
  }
}

.dark-bg {
  background-color: rgb(122, 188, 122);
}
.light-bg {
  background-color: rgb(255, 225, 225);
}

.king {
  &:before {
    background-image: url("../../assets/king.png");
    background-size: contain;
  }
}
.pawn {
  &:before {
    background-image: url("../../assets/pawn.png");
    background-size: contain;
  }
}
.rook {
  &:before {
    background-image: url("../../assets/rook.png");
    background-size: contain;
  }
}

.black {
  &:before {
    filter: invert(1);
  }
}
